html
head
  //- link(rel="stylesheet", media="screen", href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
  link(rel="stylesheet", href="/styles/custom.css")
  //- <script src="//code.jquery.com/jquery.js"></script>
  //- <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
body
   block content